/* Universal setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald/Oswald-VariableFont_wght.ttf)
    format("woff2-variations");
  font-weight: 200 700;
  font-stretch: 100%;
  font-style: normal;
}
body {
  /* font-family: "Anton", sans-serif; */
  font-size: 14px;
  color: #ffffff;
  /* letter-spacing: 1px; */

  height: 200vh;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul,
li {
  list-style: none;
}
/* Color Palette */
/* dark blue: #221333; */
/* reddish: #df3311 */
/* white: #ffffff */

/* -------------------- */
/* Header */
/* -------------------- */
header {
  font-family: Oswald, sans-serif;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #221333;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 0 45px 0;
  margin-top: 14px;
}
header h4 {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3.2px;
  margin-bottom: -7px;
}
header .logo {
  position: relative;
  height: 70px;
}
header h1 {
  font-weight: 400;
  font-size: 44px;
  letter-spacing: 3px;
  color: #df3311;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.block {
  width: 16.3rem;
  height: 1.05rem;
  background-color: #221333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-image: repeating-linear-gradient(
    60deg,
    #ffffff58 0px,
    #ffffff58 1px,
    #221333 1px,
    #221333 1px,
    #221333 1.5px
  );
}
header p {
  font-weight: 200;
  letter-spacing: 4.7px;
  font-size: 12px;
}
/* -------------------- */
/* Header Media Queries */
/* -------------------- */
@media screen and (min-width: 850px) {
  header {
    position: relative;
    top: 0;
    left: 0;
    padding: 35px 0 45px 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  header {
    /* position: absolute;
    top: 0px;
    left: 0; */
    padding-bottom: 30px;
  }
  header h4 {
    font-size: 12px;
    margin-bottom: -11px;
  }
  header .logo {
    margin-bottom: -6px;
  }
  header h1 {
    font-size: 34px;
  }
  .block {
    height: 0.8rem;
    transform: translate(-50%, 25%);
  }
  header p {
    font-size: 10px;
  }
}
/* -------------------- */
/* Navigation Bar */
/* -------------------- */
section.navigation {
  background-color: #221333;
  padding: 37px 0;
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  z-index: 2;
  transition: all 0.2s ease;
}
.navigation {
  transition: all 0.2s ease;
}
.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.links {
  padding: 0;
}
.navigation nav {
  width: 100%;
}
.links li {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.links li svg {
  margin-bottom: 100px;
  fill: #df3311;
}
.logIn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logIn a {
  text-transform: capitalize;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 8px;
  color: #df3311;
}
.link {
  display: block;
  margin-bottom: 40px;
}
section.navigation.open-nav {
  height: auto;
}
.hamburger {
  display: grid;
  place-items: left;
}
.hamburger-open,
.hamburger-close {
  grid-area: 1/1;
  transition: all 0.2s ease;
}
.hamburger-close {
  opacity: 0;
}
section.navigation.open-nav .hamburger-open {
  opacity: 0;
}
section.navigation.open-nav .hamburger-close {
  opacity: 1;
}
/* -------------------- */
/* Navigation Bar Media Queries */
/* -------------------- */
@media screen and (min-width: 850px) {
  section.navigation {
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    top: 19px;
    left: 0;
    width: 100%;
  }
  .container {
    align-items: center;
  }
  nav {
    background-color: #221333;
    width: 40vw;
  }
  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 10px 0;
  }
  .links li {
    margin-right: 40px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .links li:first-child {
    margin-right: 0;
  }
  .links li svg {
    display: none;
  }
  .link {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .logIn a {
    font-size: 12px;
  }
}
/* -------------------- */
/* Social Media Links */
/* -------------------- */
.social-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links li {
  margin: 0 20px;
}
