/* Universal setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald/Oswald-VariableFont_wght.ttf)
    format("woff2-variations");
  font-weight: 200 700;
  font-stretch: 100%;
  font-style: normal;
}
body {
  /* font-family: "Anton", sans-serif; */
  font-family: Oswald, sans-serif;
  font-size: 14px;
  color: #ffffff;
  /* letter-spacing: 1px; */
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul,
li {
  list-style: none;
}
/* Color Palette */
/* dark blue: #221333; */
/* reddish: #df3311 */
/* white: #ffffff */

/* -------------------- */
/* Header */
/* -------------------- */
header {
  position: relative;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #221333;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 0 45px 0;
  margin-top: 14px;
}
header h4 {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3.2px;
  margin-bottom: -7px;
}
header .logo {
  position: relative;
  height: 70px;
}
header h1 {
  font-weight: 400;
  font-size: 44px;
  letter-spacing: 3px;
  color: #df3311;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.block {
  width: 16.3rem;
  height: 1.05rem;
  background-color: #221333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-image: repeating-linear-gradient(
    60deg,
    #ffffff58 0px,
    #ffffff58 1px,
    #221333 1px,
    #221333 1px,
    #221333 1.5px
  );
}
header p {
  font-weight: 200;
  letter-spacing: 4.7px;
  font-size: 12px;
}
/* -------------------- */
/* Header Media Queries */
/* -------------------- */
@media screen and (min-width: 850px) {
  header {
    position: relative;
    top: 0;
    left: 0;
    padding: 35px 0 45px 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  header {
    padding-bottom: 30px;
  }
  header h4 {
    font-size: 12px;
    margin-bottom: -11px;
  }
  header .logo {
    margin-bottom: -6px;
  }
  header h1 {
    font-size: 34px;
  }
  .block {
    height: 0.8rem;
    transform: translate(-50%, 25%);
  }
  header p {
    font-size: 10px;
  }
}
/* -------------------- */
/* Navigation Bar */
/* -------------------- */
section.navigation {
  background-color: #221333;
  padding: 37px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  z-index: 2;
  transition: all 0.2s ease;
}
.navigation {
  transition: all 0.2s ease;
}
.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.links {
  padding: 0;
}
.navigation nav {
  width: 100%;
}
.links li {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.links li svg {
  margin-bottom: 100px;
  fill: #df3311;
}
.logIn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logIn a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 8px;
  color: #df3311;
}
.link {
  display: block;
  margin-bottom: 40px;
}
section.navigation.open-nav {
  height: auto;
}
.hamburger {
  display: grid;
  place-items: left;
}
.hamburger-open,
.hamburger-close {
  grid-area: 1/1;
  transition: all 0.2s ease;
}
.hamburger-close {
  opacity: 0;
}
section.navigation.open-nav .hamburger-open {
  opacity: 0;
}
section.navigation.open-nav .hamburger-close {
  opacity: 1;
}
/* -------------------- */
/* Navigation Bar Media Queries */
/* -------------------- */
@media screen and (min-width: 850px) {
  section.navigation {
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    top: 19px;
    left: 0;
    width: 100%;
  }
  .container {
    align-items: center;
  }
  .navigation nav {
    background-color: #221333;
    width: 40vw;
    border-radius: 2px;
    padding-left: 10px;
  }
  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 10px 0;
  }
  .links li {
    margin-right: 40px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .links li:first-child {
    margin-right: 0;
  }
  .links li svg {
    display: none;
  }
  .link {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .logIn a {
    font-size: 12px;
  }
}
/* -------------------- */
/* Social Media Links */
/* -------------------- */
.social-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links li {
  margin: 0 21px;
}
@media screen and (min-width: 850px) {
  .social-links {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #221333;
    flex-direction: column;
    margin-top: 0;
    border-radius: 2px;
    z-index: 2;
  }
  .social-links li {
    margin: 15px 15px;
  }
}
/* -------------------- */
/* Upcoming Section */
/* -------------------- */
.upcoming {
  background-color: #221333;
  padding: 70px 0;
  margin-top: -5px;
}
.upcoming-container {
  width: 65vw;
  margin: 0 auto;
}
.line1 {
  width: 20vw;
  height: 3px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.upcoming-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.upcoming-title h1 {
  font-size: calc(3vw + 1rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #221333;
  padding: 0px 0 0px 20px;
}
.upcoming-title1 {
  background-color: #ffffff;
  line-height: 1.7;
}
.upcoming-title2-box .upcoming-title2 {
  width: 100%;
  background-color: #df3311;
  margin-bottom: 0;
  line-height: 57px;
}
.upcoming-title2-box {
  width: 272px;
  position: relative;
}
.upcoming-title2-box .block {
  width: 58px;
  height: 17px;
  background-color: #221333;
  position: absolute;
  top: 20px;
  left: 250px;
  transform: rotate(90deg);
}
.line2 {
  height: 8px;
  background-color: #ffffff;
  width: 110px;
  position: absolute;
  bottom: -8px;
  right: -15px;
}
.line3 {
  height: 30px;
  border-right: 2px solid #df3311;
  border-bottom: 2px solid #df3311;
  margin-bottom: 40px;
}
.upcoming-info {
  width: 100%;
  color: #221333;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.upcoming-info p {
  background-color: #df3311;
  margin-bottom: 10px;
  padding: 0 10px;
}
@media screen and (max-width: 850px) {
  .upcoming {
    margin-top: 55px;
  }
  .upcoming-container {
    width: 80vw;
  }
  .upcoming-title h1 {
    font-size: calc(2vw + 0.5rem);
    padding-left: 10px;
  }
  .upcoming-title2-box {
    width: 210px;
  }
  .upcoming-title2-box .block {
    left: 190px;
  }
  .line2 {
    right: -17px;
  }
  .upcoming-title2-box .upcoming-title2 {
    line-height: 50px;
  }
  .upcoming-info {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .upcoming-title2-box .block {
    left: 137px;
  }
}
/* -------------------- */
/* Subscribe Section */
/* -------------------- */
.subscribe {
  background-color: #221333;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 80px 0;
}
.subscribe-info {
  width: 30%;
}
.subscribe-info h1 {
  text-transform: uppercase;
  font-size: calc(3vw + 1rem);
  letter-spacing: 1px;
  background-color: transparent;
  padding-left: 50px;
  line-height: 1;
  width: 120%;
}
.subscribe-info p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  background-color: #df3311;
  padding: 80px 0 80px 50px;
}
.subscribe-form {
  width: 50%;
  background-color: #df3311;
  padding: 80px 0 80px 20px;
}
.subscribe-btn {
  color: #221333;
}
