{% extends 'layout.html' %} {% block title %}Home{% endblock %} {% block body %}

<section class="slideshow">
  <div class="swiper" id="swiper1">
    <div class="swiper-wrapper">
      {% for oneUpcoming in fourUpcoming %}
      <div class="swiper-slide">
        <div>
          <div class="slides-info">
            <h1>{{ oneUpcoming['artist'] }}.</h1>
            <div class="slide-info">
              <span class="slide-date"
                >{{ oneUpcoming['day'] }} {{ oneUpcoming['month'] }}. {{
                oneUpcoming['day_num'] }}</span
              >
              <span class="slide-time">8.00 pm</span>
              <div>
                <a href="{{ url_for('shows') }}">
                  <button>Get Tickets</button>
                </a>
                <div class="btn-block"></div>
              </div>
            </div>
          </div>
          <img src="{{ oneUpcoming['image_bg'] }}" alt="" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="upcoming">
  <div class="upcoming-container">
    <div class="line1"></div>
    <div class="upcoming-title">
      <h1 class="upcoming-title1">upcoming</h1>
      <div class="upcoming-title2-box">
        <h1 class="upcoming-title2">shows</h1>
        <div class="block"></div>
        <div class="line2"></div>
      </div>
    </div>
    <div class="line3"></div>
    <div class="upcoming-info">
      <p>All shows are 18+ to enter and 21+ to purchase alcohol.</p>
      <p>No smoking inside. Please bring a valid form of ID.</p>
    </div>
  </div>
</section>
<section class="shows">
  <div class="shows-container">
    {% for eachInfo in allInfo %}
    <div class="show">
      <div class="show-info">
        <h2>{{ eachInfo['day_num'] }}</h2>
        <div>
          <p class="day">{{ eachInfo['day'] }}</p>
          <p>{{ eachInfo['month'] }}</p>
        </div>
        <h3>{{ eachInfo['artist'] }}</h3>
      </div>
      <a href="{{ url_for('shows') }}">
        <button class="btn">get tickets</button>
      </a>
    </div>
    {% endfor %}

    <div class="fancy-btn">
      <a href="{{ url_for('shows') }}">
        <button>Get Tickets</button>
      </a>
      <div class="btn-block"></div>
      <div class="btn-bg"></div>
    </div>
  </div>
</section>

<section class="subscribe" id="subscribe-form">
  <div class="subscribe-info">
    <div class="subscribe-title">
      <h1>stay up to date</h1>
      <div class="block"></div>
    </div>
    <p>
      Sign up to get our newsletter for all the latest news, shows, and events
    </p>
  </div>
  <form action="{{ url_for('subscribe') }}" class="subscribe-form">
    <!-- <input
      autocomplete="off"
      type="email"
      placeholder="Enter your email here *"
      name="email"
      class="email"
    /> -->
    <div class="subscribe-btn-block">
      <button class="btn subscribe-btn" type="submit">Subscribe</button>
      <div class="subscribe-btn-bg"></div>
    </div>
  </form>
</section>

{% endblock %}
