{% extends 'layout.html' %}{% block title %}Shows{% endblock %} {% block body %}
<main>
  <section class="calendar">
    <div class="calendar-container">
      <div class="calendar-title">
        <h1 class="calendar-title1">Calendar</h1>
        <div class="calendar-title2-box">
          <div class="calendar-title2"></div>
          <!-- <h1 class="calendar-title2">Shows</h1> -->
          <div class="block"></div>
          <div class="line2"></div>
        </div>
      </div>
    </div>
  </section>

  {{ months }} {{ years }}

  <!-- {% for date in dates %}
  <h1>{{ date['date'] }}</h1>
  {% endfor %} -->
  <!-- {% for date in dates %}
  <h1>{{ date['date'] }}</h1>
  {% endfor %} -->

  <section class="calendar-shows">
    {% for artist in allartists %}
    <article class="calendar-show">
      <img src="../static/images/img-band-1.jpg" alt="" />
      <div class="calendar-show-info">
        <div class="band-date-info">
          <div class="band-date">
            <h2 class="band-name">{{ artist['artist'] }}</h2>
            <h2>Wed, Dec 28</h2>
          </div>
          <div class="band-info">
            <p>{{ artist['description'] }}</p>
          </div>
        </div>
        <div class="getTicket-btn">
          <button class="btn">get tickets</button>
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
</main>
{% endblock%}
