{% extends 'layout.html' %}{% block title %}Shows{% endblock %} {% block body %}
<main>
  <section class="calendar">
    <div class="calendar-container">
      <div class="calendar-title">
        <h1 class="calendar-title1">Calendar</h1>
        <div class="calendar-title2-box">
          <div class="calendar-title2"></div>
          <!-- <h1 class="calendar-title2">Shows</h1> -->
          <div class="block"></div>
          <div class="line2"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="calendar-shows">
    {% for eachInfo in allInfo %}
    <article class="calendar-show">
      <img src="{{ eachInfo['image'] }}" alt="" />
      <div class="calendar-show-info">
        <div class="band-date-info">
          <div class="band-date">
            <h2 class="band-name">{{ eachInfo['artist'] }}</h2>
            <h2>
              {{ eachInfo['day'][:3] }}, {{ eachInfo['month'] }} {{
              eachInfo['day_num'] }}
            </h2>
          </div>
          <div class="band-info">
            <p>{{ eachInfo['description'] }}</p>
          </div>
        </div>
        <div class="getTicket-btn">
          <!-- <a href="{{ url_for('tickets') }}"> -->
          <!-- <button class="btn" type="submit" value="getBandId" name="getTicket">
            get tickets
          </button> -->
          <!-- </a> -->
          <form action="/shows" method="post">
            <input
              class="btn"
              type="submit"
              value="Get Tickets"
              name="Get Tickets"
            />
          </form>
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
</main>
{% endblock%}
