{% extends 'layout.html' %} {% block title %}Ticket{% endblock %} {% block body
%}{% for bandInfo in bandInfos %}
<main class="tickets-page">
  <div class="tickets-container">
    <section class="tickets-band-info">
      <h1>{{ bandInfo['artist'] }}</h1>
      <p>{{ bandInfo['description']}}</p>
    </section>
  </div>
  <div class="tickets-img">
    <img src="{{ bandInfo['image_bg'] }}" alt="" />
  </div>
</main>
<section class="time-location">
  <div class="time-location-container">
    <h3>Time & Location</h3>
    <p>
      {{ bandInfo['day'] }}, {{ bandInfo['month'] }} {{ bandInfo['day_num'] }},
      {{ bandInfo['year'] }}, {{ bandInfo['start'] }} - {{ bandInfo['end'] }}
    </p>
    <p>
      The Bloc Camp, 500 Terry A Francois Blvd, San Francisco, CA 94158, USA
    </p>
  </div>
</section>

<section class="tickets-info">
  <div class="tickets-info-container">
    <div class="tickets-title">
      <h3>Tickets</h3>
      <p>Price</p>
      <p>Quality</p>
      <p>Total</p>
    </div>
    <div class="tickets-calculation">
      <p>Regular</p>
      <p>${{ bandInfo['price'] }}</p>
      <div class="tickets-amount">
        <p class="minus">-</p>
        <p class="amount">0</p>
        <p class="plus">+</p>
      </div>
      <p class="total">$0.00</p>
    </div>
    <div class="tickets-total">
      <div></div>
      <p>Total</p>
      <p class="grand-total">$0.00</p>
    </div>
    <a href="#">
      <button class="btn checkout-btn">Checkout</button>
    </a>
  </div>
</section>
{% endfor %} {% endblock %}
