{% extends 'layout.html' %} {% block title %}Ticket{% endblock %} {% block body
%}
<main class="tickets-page">
  <div class="tickets-container">
    <section class="tickets-band-info">
      <h1>Badlands Bound</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
        magni ut voluptatibus eius, mollitia qui nobis exercitationem nam
        officiis amet.
      </p>
    </section>
  </div>
  <div class="tickets-img">
    <img src="../static/images/img-1.jpg" alt="" />
  </div>
  <section class="time-location">
    <h3>Time & Location</h3>
    <p>Fri, Apr 06, 2022, 7PM - 11PM</p>
    <p>
      The Bloc Camp, 500 Terry A Francois Blvd, San Francisco, CA 94158, USA
    </p>
  </section>
</main>

<section class="tickets-info">
  <div class="tickets-info-container">
    <div class="tickets-title">
      <h3>Tickets</h3>
      <p>Price</p>
      <p>Quality</p>
      <p>Total</p>
    </div>
    <div class="tickets-calculation">
      <p>Regular</p>
      <p>$40.00</p>
      <div class="tickets-amount">
        <p class="minus">-</p>
        <p class="amount">0</p>
        <p class="plus">+</p>
      </div>
      <p class="total">$0.00</p>
    </div>
    <div class="tickets-total">
      <div></div>
      <p>Total</p>
      <p class="grand-total">$0.00</p>
    </div>
    <a href="#">
      <button class="btn checkout-btn">Checkout</button>
    </a>
  </div>
</section>
{% endblock %}
